body {
    font-family: 'Montserrat',  sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0;
    background: rgba(225, 238, 251, 0.30);
    line-height: 1.42857;
    font-weight: 500;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding: 32px 0 25px;
    background: #E1EEFB;
    margin-bottom: 43px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.logo-img {
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.btn-cart {
    color: #2B7BC6;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #2B7BC6;
    background:#FFF;
    padding: 6px 12px 6px 13px;
}

.btn-cart:hover {
    box-shadow: 0 10px 20px rgba(140, 96, 96, 0.2);
}

.main-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*.main-nav-item {*/
/*    display: inline-block;*/
/*}*/

.main-nav-link {
    color: #2B7BC6;
    text-decoration: none;
    margin: 0 10px;
}

.main-nav-link:hover {
    color: #1a3750;
}

.main-block {
    padding-top: 1px;
    margin-bottom: 111px;
    margin-top: 80px;
    position: relative;
    width: 100%;
}

.main-title {
    font-size: 30px;
    line-height: 1.2;
    margin-left: 30%;
}

.main-info {
    background: rgba(59, 141, 185, 0.81);
    color: #FFF;
    font-size: 16px;
    line-height: 1.875;
    padding: 49px 61px 25px 20%;
    margin-left: 10%;
}

.main-info p{
    margin-top: 0;
}

.main-block img{
    position: absolute;
    top: 0;
    left: 15px;
    width: 25%;
    border-radius: 20px;
}

.card {
    width: 250px;
    height: 320px;
    border: 1px solid #aca2a2;
    margin-left: 10%;
    margin-bottom: 50px;
    background: white;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    text-align: center;
}

.footer{
    background: rgba(190, 215, 244, 0.89);
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px 0;
}

.footer-name{
    color: rgba(17, 17, 17, 0.50);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.address{
    color: #111;
    font-size: 14px;
    font-weight: 700;
}



